<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    
    <!-- Header -->
    <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    
    <!-- Title -->
    <div class="text-4xl font-extrabold tracking-tight">
        Detalhes
    </div>
    
    <!-- Return -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <button class="ml-4" mat-flat-button [color]="'accent'" (click)="exportToPdf()">
            <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
        </button>
        <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['/veiculos/multas']">
            <span class="ml-2 mr-1">Voltar</span>
        </button>
    </div>
</div>

<!-- MAIN -->
<div class="flex flex-row p-8 overflow-y-scroll overflow-x-hidden">

    <fuse-card class="flex flex-col md:flex-row justify-between w-full p-8 pb-4 filter-listing">
        <div class="flex flex-col flex-auto order-2 md:order-1">
            <div class="text-2xl font-semibold leading-tight">{{ veiculoMulta.placa }} - {{ veiculoMulta.autoInfracao }}</div>
            <div class="mt-6">
                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Data: </span>&nbsp;
                    <span>{{ veiculoMulta.data | date: 'dd/MM/yyyy' }}</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Placa: </span>&nbsp;
                    <span>{{ veiculoMulta.placa }}</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Auto de Infração: </span>&nbsp;
                    <span>{{ veiculoMulta.autoInfracao }}</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Responsável: </span>&nbsp;
                    <span>{{ veiculoMulta.responsavel }}</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Classificação: </span>&nbsp;
                    <span>{{ veiculoMulta.classificacao }}</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Descrição: </span>&nbsp;
                    <span>{{ veiculoMulta.descricao }}</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Situação: </span>&nbsp;
                    <span *ngIf="veiculoMulta.situacao == true">Pago</span>
                    <span *ngIf="veiculoMulta.situacao == false">Não Pago</span>
                </div>

                <div class="flex flex-wrap items-center text-secondary my-1">
                    <span style="font-weight: bold;">Valor: </span>&nbsp;
                    <span>{{ veiculoMulta.valor | currency }}</span>
                </div>
            </div>
        </div>
    </fuse-card> 

</div>

</div>

<!-- class="w-full h-full object-cover" -->