<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            {{id ? "Editar Revendedor" : "Novo Revendedor" }}
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="cancel()">
                <span class="ml-2 mr-1">Cancelar</span>
            </button>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="save()">
                <span class="ml-2 mr-1">Salvar</span>
            </button>
        </div>
    </div>

    <!-- Main -->

    <form [formGroup]="mainForm" class="flex flex-col p-8 overflow-hidden">

        <!-- Empresa -->
        <div class="flex flex-col">
            <mat-form-field>
                <mat-label>Empresa</mat-label>
                <input matInput required formControlName="empresa">
                <mat-error *ngIf="this.mainForm.get('empresa').invalid">Informe a empresa</mat-error>
            </mat-form-field>
        </div>
    
        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Cnpj</mat-label>
                <input matInput required formControlName="cnpj">
                <mat-error *ngIf="this.mainForm.get('cnpj').invalid">Informe o Cnpj</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>Responsável</mat-label>
                <input matInput formControlName="responsavel">
            </mat-form-field>
        </div>

    </form>

</div>