<app-lista-passageiro-edit *ngIf="isEdit" (close)="onCloseDetail($event)" [id]="selectedId"></app-lista-passageiro-edit>

<div *ngIf="!isEdit" class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Listas de Passageiros</div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Filter button -->
            <button mat-icon-button aria-label="Show/hide filters" (click)="onFilterExpanded()">
                <mat-icon>filter_list</mat-icon>
            </button>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="add()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Novo</span>
            </button>
        </div>
    </div>

    <!-- Filters -->
    <div>
        <mat-expansion-panel hideToggle [expanded]="filtersExpanded">
            <!-- <p>Filtros</p> -->

            <form [formGroup]="filterForm" class="flex flex-row items-center gap-3 mt-6 overflow-hidden">

                <mat-form-field>
                    <mat-label>Origem</mat-label>
                    <input matInput formControlName="origem">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Destino</mat-label>
                    <input matInput formControlName="destino">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Matrícula</mat-label>
                    <input matInput formControlName="matricula">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Comandante</mat-label>
                    <input matInput formControlName="nome">
                </mat-form-field>

                <button mat-raised-button (click)="clearFilter()">
                    <!-- <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon> -->
                    <span class="ml-2 mr-1">Limpar</span>
                </button>

                <button mat-raised-button [color]="'primary'" (click)="filter()">
                    <!-- <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon> -->
                    <span class="ml-2 mr-1">Buscar</span>
                </button>

            </form>


        </mat-expansion-panel>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container *ngIf="listas.length > 0; else noProducts">

                <!-- Table wrapper -->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                    <!-- Table -->
                    <table class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort
                        (matSortChange)="onSort($event)" [matSortActive]="'data'" [matSortDisableClear]="true"
                        [matSortDirection]="'asc'" [multiTemplateDataRows]="false" [dataSource]="listas"
                        [trackBy]="trackByFn">

                        <!-- data -->
                        <ng-container matColumnDef="data">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Data
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.data | date: 'dd/MM/yyyy'}}
                            </td>
                        </ng-container>

                        <!-- origem -->
                        <ng-container matColumnDef="origem">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Origem
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.origem}}
                            </td>
                        </ng-container>

                        <!-- destino -->
                        <ng-container matColumnDef="destino">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Destino
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.destino}}
                            </td>
                        </ng-container>

                        <!-- matricula -->
                        <ng-container matColumnDef="matricula">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Matrícula
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.matricula | mask:'SS-SSS'}}
                            </td>
                        </ng-container>

                        <!-- nome -->
                        <ng-container matColumnDef="nome">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Comandante
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                {{row.nome}}
                            </td>
                        </ng-container>

                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                            <th class="w-24 pr-8 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef>
                                Ações
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let row">
                                <div class="flex flex-row">
                                    <button mat-icon-button>
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                    </button>
                                    
                                    <button mat-icon-button (click)="edit(row.id)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="delete(row.id)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr class="shadow" mat-header-row *matHeaderRowDef="productsTableColumns; sticky: true"></tr>
                        <tr class="h-18 hover:bg-hover" mat-row *matRowDef="let row; columns: productsTableColumns;">
                        </tr>

                    </table>

                </div>

                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                    [pageIndex]="pagination.page" [pageSize]="pagination.size" [pageSizeOptions]="[1, 5, 10, 25, 100]"
                    [showFirstLastButtons]="true" (page)="onPage($event)"></mat-paginator>

            </ng-container>

            <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Não há listas de passageiros!
                </div>
            </ng-template>

        </div>

    </div>

</div>