<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    
    <!-- Header -->
    <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    
    <!-- Title -->
    <div class="text-4xl font-extrabold tracking-tight">
        {{id ? "Editar NRT" : "Nova NRT" }}
    </div>
    
    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="cancel()">
            <span class="ml-2 mr-1">Cancelar</span>
        </button>
        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="save()">
            <span class="ml-2 mr-1">Salvar</span>
        </button>
    </div>
</div>

<!-- Main -->

<form [formGroup]="mainForm" class="flex flex-col p-8 overflow-hidden">
    <mat-tab-group>
        <mat-tab label="Dados da NRT"> 
            <!-- NUMERO - FUNCAO - HABILITACAO - TIPOTREINAMENTO -->
            <div class="flex flex-row">
                <mat-form-field class="flex-1">
                    <mat-label>Número</mat-label>
                    <input matInput required formControlName="numero">
                    <mat-error *ngIf="this.mainForm.get('numero').invalid">Informe o número</mat-error>
                </mat-form-field>
                
                <mat-form-field class="flex-1 ml-2">
                    <mat-label>Função</mat-label>
                    <input matInput required formControlName="funcao">
                    <mat-error *ngIf="this.mainForm.get('funcao').invalid">Informe a função</mat-error>
                </mat-form-field>
                
                <mat-form-field class="flex-1 ml-2">
                    <mat-label>Habilitação</mat-label>
                    <input matInput required formControlName="habilitacao">
                    <mat-error *ngIf="this.mainForm.get('habilitacao').invalid">Informe a habilitação</mat-error>
                </mat-form-field>
                
                <mat-form-field class="flex-1 ml-2">
                    <mat-label>Tipo</mat-label>
                    <select matNativeControl required formControlName="tipoTreinamento">
                        <option value=1>Inicial</option>
                        <option value=2>Periódico</option>
                    </select>
                    <mat-error *ngIf="this.mainForm.get('tipoTreinamento').invalid">Informe o tipo do treinamento</mat-error>
                </mat-form-field>
            </div>
            
            <!-- DATA INICIO - DATA TERMINO - VALIDADE - SITUACAO -->
            <div class="flex flex-row">
                <mat-form-field class="flex-1">
                    <mat-label>Início</mat-label>
                    <input matInput required formControlName="dataInicio" type="date">
                    <mat-error *ngIf="this.mainForm.get('dataInicio').invalid">Informe a data de início</mat-error>
                </mat-form-field>
                
                <mat-form-field class="flex-1 ml-2">
                    <mat-label>Término</mat-label>
                    <input matInput required formControlName="dataTermino" type="date">
                    <mat-error *ngIf="this.mainForm.get('dataTermino').invalid">Informe a data de término</mat-error>
                </mat-form-field>
                
                <mat-form-field class="flex-1 ml-2">
                    <mat-label>Validade</mat-label>
                    <input matInput required formControlName="validade" type="date">
                    <mat-error *ngIf="this.mainForm.get('validade').invalid">Informe a validade da NRT</mat-error>
                </mat-form-field>
                
                <mat-form-field class="flex-1 ml-2">
                    <mat-label>Situação</mat-label>
                    <select matNativeControl required formControlName="situacaoTreinamento">
                        <option value=1>Em Andamento</option>
                        <option value=2>Pendente</option>
                        <option value=3>Finalizado</option>
                    </select>
                    <mat-error *ngIf="this.mainForm.get('situacaoTreinamento').invalid">Informe a situação do treinamento</mat-error>
                </mat-form-field>
            </div>
        </mat-tab>
        
        <mat-tab label="Detalhes do Treinamento">
            <!-- CATEGORIAS FORM ARRAY -->
            <ng-container formArrayName="categorias" *ngFor="let categoria of categoriasArray.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="flex flex-row">
                        <mat-form-field class="flex-1">
                            <mat-label>Matéria</mat-label>
                            <select matNativeControl id="categoriaId" required formControlName="categoriaId">
                                <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{ categoria.descricao }} - {{ categoria.tipoTreinamento }}</option>
                            </select>
                            <mat-error *ngIf="this.categoria.get('categoriaId').invalid">Informe o serviço</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="flex-1 ml-2">
                            <mat-label>Início</mat-label>
                            <input matInput formControlName="inicio" type="date">
                        </mat-form-field>

                        <mat-form-field class="flex-1 ml-2">
                            <mat-label>Término</mat-label>
                            <input matInput formControlName="termino" type="date">
                        </mat-form-field>

                        <mat-form-field class="flex-1 ml-2">
                            <mat-label>Instrutor</mat-label>
                            <input matInput required formControlName="instrutor">
                            <mat-error *ngIf="this.categoria.get('instrutor').invalid">Informe o isntrutor</mat-error>
                        </mat-form-field>

                        <button mat-mini-fab class="ml-3 mt-7" [color]="'warn'" (click)="removerCategoria(i)">
                            <mat-icon class="delete-btn">delete_forever</mat-icon>
                        </button>
                    </div>
                    
                </ng-container>
            </ng-container>
            
            <button mat-mini-fab (click)="adicionarCategoria()">
                <mat-icon class="add-course-btn">add</mat-icon>
            </button>
        </mat-tab>
        
        <mat-tab label="Tripulantes">
            <!-- TRIPULANTES FORM ARRAY -->
            <ng-container formArrayName="pessoas" *ngFor="let tripulante of tripulantesArray.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="flex flex-row">
                        <mat-form-field class="flex-1">
                            <mat-label>Nome</mat-label>
                            <select matNativeControl id="pessoaId" required formControlName="pessoaId">
                                <option *ngFor="let tripulante of tripulantes" value="{{tripulante.id}}">{{ tripulante.nome }}</option>
                            </select>
                            <!-- <mat-error *ngIf="this.tripulante.get('pessoaId').invalid">Informe o tripulante</mat-error> -->
                        </mat-form-field>

                        <button mat-mini-fab class="ml-3 mt-7" [color]="'warn'" (click)="removerTripulante(i)">
                            <mat-icon class="delete-btn">delete_forever</mat-icon>
                        </button>
                    </div>
                    
                </ng-container>
            </ng-container>
            
            <button mat-mini-fab (click)="adicionarTripulante()">
                <mat-icon class="add-course-btn">add</mat-icon>
            </button>
        </mat-tab>
    </mat-tab-group>
    
</form>

</div>