<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            {{id ? "Editar Fornecedor" : "Novo Fornecedor" }}
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="cancel()">
                <span class="ml-2 mr-1">Cancelar</span>
            </button>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="save()">
                <span class="ml-2 mr-1">Salvar</span>
            </button>
        </div>
    </div>

    <!-- Main -->

    <form [formGroup]="mainForm" class="flex flex-col p-8 overflow-hidden">

        <!-- NOME - TIPO PESSOA - DOCUMENTO -->
        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Nome</mat-label>
                <input matInput required formControlName="nome">
                <mat-error *ngIf="this.mainForm.get('nome').invalid">Informe o nome</mat-error>
            </mat-form-field>
    
            <mat-form-field class="flex-1 ml-2">
                <mat-label>Tipo de Pessoa</mat-label>
                <select matNativeControl required formControlName="tipoPessoa">
                    <option value=1>Física</option>
                    <option value=2>Jurídica</option>
                </select>
                <mat-error *ngIf="this.mainForm.get('tipoPessoa').invalid">Informe o tipo de pessoa</mat-error>
            </mat-form-field>
    
            <mat-form-field class="flex-1 ml-2">
                <mat-label>Documento</mat-label>
                <input matInput required formControlName="documento" mask="CPF_CNPJ">
                <mat-error *ngIf="this.mainForm.get('documento').invalid">Informe o documento</mat-error>
            </mat-form-field>
        </div>

        <!-- TELEFONE - EMAIL - ATIVO -->
        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="telefone" prefix="+55 " mask="(00) 00000-0000">
                <mat-error *ngIf="this.mainForm.get('telefone').invalid">Informe o telefone</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="this.mainForm.get('email').hasError('email')">E-mail com formato inválido</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>Ativo</mat-label>
                <select matNativeControl required formControlName="ativo">
                    <option value=true>Sim</option>
                    <option value=false>Não</option>
                </select>
                <mat-error *ngIf="this.mainForm.get('ativo').invalid">Informe se o fornecedor está ativo</mat-error>
            </mat-form-field>
        </div>      

    </form>

</div>